@page
@model RCMWeb.Pages.PriceruleModel
@{
	ViewData["Title"] = "Price Rule";
}

<script>

	function SavePrice()
	{
        var pricejson = {
            "healthplanid": $('#ddHP').val(), "receiverid": $('#txtReceiver').val(),
            "codetype": $('#ddCT').val(),
            "finclasscode": $('#txtFSC').val(), "pricerule": $('#ddPR').val(),
            "servicecode": $('#txtSC').val(), "grossprice": $('#txtGP').val(),
            "begeff": $('#txtBED').val(), "endeff": $('#txtEED').val()
        };
        alert(pricejson);
        console.log(pricejson);
		$.ajax({
    url: "https://localhost:7222/api/RCM/saveprice",
    type: "POST",
	headers: {
        
		 'Accept': 'application/json',
    'Content-Type': 'application/json'  
    },
	dataType:"application/json",
    data:  JSON.stringify(pricejson),
    success: function(response){
       // alert(JSON.stringify(response));
        
	}   
 });

    }

</script>

<div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
							<h3 class="widget-title">Add Price Rule</h3>
							<form>
								<div class="form-row">
									 
									<div class="form-group col-md-6">
										<label for="patient-name">  Code Type  </label>
										<select id="ddCT"class="form-control" ><option>Select Code Type</option>
									<option value="1">MOH CPT</option></select>
									</div>
									 
									<div class="form-group col-md-6">
										<label for="patient-name">  Operand Type Code</label>
										<select id="ddPR"class="form-control" ><option>Select Rule </option>
									<option value="1">% Percentage</option></select>
									</div>
									<div class="form-group col-md-6">
										<label for="patient-name">  Operator Type Code</label>
										<select id="ddPR"class="form-control" ><option>Select Rule </option>
									<option value="1">Multiply by</option>
										<option value="2">Increase by </option>
										<option value="3">Decrease by </option>
									
								
								</select>
									</div>
									<div class="form-group col-md-6">
										<label for="patient-name">  Discount Value  </label>
										<input type="text" class="form-control" placeholder="   " id="txtGP">
									</div>
									 
									<div class="form-group col-md-6">
										<label for="dob">Begin Effected date</label>
										<input type="date" placeholder=" " class="form-control" id="txtBED">
									</div>
									<div class="form-group col-md-6">
										<label for="dob">End Effected date</label>
										<input type="date" placeholder=" " class="form-control" id="txtEED">
									</div>
									 
									 
									 
									<div class="form-group col-md-12">
										<label for="file">File</label>
										<input type="file" class="form-control" id="file">
									</div>
																		
								 
									<div class="form-group col-md-6 mb-3">
										<button type="button" onclick="SavePrice()" class="btn btn-primary btn-lg">Submit</button>
									</div>
								</div>
							</form>
							 
						</div>
					</div>
					<!-- /Widget Item -->
				</div>
				<div class="row">
					<!-- Widget Item -->
					<div class="col-md-12">
						<div class="widget-area-2 proclinic-box-shadow">
							<h3 class="widget-title">Price List</h3>							
							<div class="table-responsive mb-3">
								<table id="tableId" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="no-sort">
												<div class="custom-control custom-checkbox">
													<input class="custom-control-input" type="checkbox" id="select-all">
													<label class="custom-control-label" for="select-all"></label>
												</div>
											</th>
											<th>  Price ID</th>
											<th>  Service Code</th>
											<th>Health Plan</th>
											<th>Receiver ID </th>
											<th>Code Type</th>
											<th>Fin Class Code</th>
											<th>Price Rule</th>
											
											<th>Gross Price </th>
										</tr>
									</thead>
									<tbody>
								 <tr><td><div class='custom-control custom-checkbox'>	<input class='custom-control-input' type='checkbox' id='1'>	<label class='custom-control-label' for='1'></label></div>	</td>
<td>1</td>
<td>10</td>
<td>EHS Staff Plan Almadallah</td>	
<td>MohapTPA003</td>
<td>MOH CPT</td>
<td>Almadallah </td>
<td>Almadallah discount CPT 10 % </td>
<td>AED 200 </td></tr>

									</tbody>
								</table>
								<!--Export links-->
								<nav aria-label="Page navigation example">
									<ul class="pagination justify-content-center export-pagination">
										<li class="page-item">
											<a class="page-link" href="#"><span class="ti-download"></span> csv</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#"><span class="ti-printer"></span>  print</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#"><span class="ti-file"></span> PDF</a>
										</li>
										<li class="page-item">
											<a class="page-link" href="#"><span class="ti-align-justify"></span> Excel</a>
										</li>
									</ul>
								</nav>
								<!-- /Export links-->
								<button type="button" class="btn btn-danger mt-3 mb-0"><span class="ti-trash"></span> DELETE</button>
								<button type="button" class="btn btn-primary mt-3 mb-0"><span class="ti-pencil-alt"></span> EDIT</button>
							</div>
						</div>
					</div>
					<!-- /Widget Item -->
				</div>